#### Run script

In [1]:
%run "psycopg2_final.py"

DatetimeFieldOverflow: date/time field value out of range: "21/03/2016"
LINE 4: ...4733, 'Vonni', 'Davsley', 'vdavsley0@joomla.org', '21/03/201...
                                                             ^
HINT:  Perhaps you need a different "datestyle" setting.

#### Sample queries

In [2]:
%load_ext sql
import configparser

In [3]:
# Connecting to coffeeshops database
config = configparser.ConfigParser()
config.read('private.cfg')
DB_NAME_DEFAULT = config.get('SQL', 'DB_NAME_DEFAULT')
DB_USER = config.get('SQL', 'DB_USER')
DB_PASSWORD = config.get('SQL', 'DB_PASSWORD')

conn_string = "postgresql://{}:{}@127.0.0.1/coffeeshops".format(DB_USER, DB_PASSWORD)
%sql $conn_string

In [4]:
# Count the rows in the table
%sql SELECT COUNT(*) FROM employees;

 * postgresql://postgres:***@127.0.0.1/coffeeshops
1 rows affected.

[(0,)]

In [5]:
# Select all records from the employees table
%sql SELECT * FROM employees;

 * postgresql://postgres:***@127.0.0.1/coffeeshops
0 rows affected.

[]

In [6]:
# Select only rows with missing emails
%sql SELECT * FROM employees WHERE email = 'NaN';

 * postgresql://postgres:***@127.0.0.1/coffeeshops
0 rows affected.

[]

In [7]:
# Select the average, minimum and maximum salary
%sql SELECT ROUND(AVG(salary), 0), MIN(salary), MAX(salary) FROM employees;

 * postgresql://postgres:***@127.0.0.1/coffeeshops
1 rows affected.

[(None, None, None)]

In [8]:
# Order by the number of employees per shop descending
%sql SELECT shop_name, COUNT(*) FROM employees GROUP BY shop_name ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@127.0.0.1/coffeeshops
0 rows affected.

[]

In [9]:
# Order by the average salary per shop ascending
%sql SELECT shop_name, ROUND(AVG(salary), 0) FROM employees GROUP BY shop_name ORDER BY AVG(salary);

 * postgresql://postgres:***@127.0.0.1/coffeeshops
0 rows affected.

[]